/* Lego*/
.Front {
    height: 130px;
    border-bottom-style: groove;

}

    .Front img {
        width: 12%;
        height: auto;
       margin-left: 620px;
    }
    .Front form{
    float: right;
    margin-top: 10px;
    }
/* FOOTER */

.footer {
    height: 150px;
    margin-top: 500px;
    background-color: #006600;
    overflow: hidden;
    width: 100vw;
    box-sizing: border-box;
    color: white;
}

.link li {
    display: inline-block;
    padding: 7px;
    font-size: larger;
}

.linkstore {
    margin-left: 200px;
}

.linkabout {
    margin-left: 280px;
}

.linkcontact {
    margin-left: 350px;
}

.out_contact {
    margin: -15px 640px 100px 690px;
    width:100%;
}

    .out_contact i {
        font-size: xx-large;
        padding: 10px;
        padding-right:20px;

    }

.link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* Menubar */
.container{
    margin-top: 20px;
    height: auto;
    width: auto;
    float: left;
   border: solid;
   background-color: #e0eefe;

}
    .container a{
        color:blueviolet;
        text-decoration: none;
        padding: 10px;
        font-size: x-large;
        cursor: pointer;
        text-align: center;
        padding-left:20px;
        padding-right:20px;
        border: solid;
    }

        .container a:hover {
            color: black;
            background-color: whitesmoke;
        }
    .menu_home{
        margin-left: 120px;
        padding-right: 10px;
        background-color: plum;
    }
    .menu_product{
        margin-left: 160px;
        background-color: powderblue;
    }
    .menu_about{
        margin-left: 160px;
        background-color: burlywood;
    }
    .menu_contact{
        margin-left: 160px;
        background-color:peachpuff;
    }

    /* Intro background*/
    .intro_background{
        margin-top: 7px;
        float: left;
    }
        .intro_background img{
            height: 360px;
            width: 431px;
           border: solid;
        }
    .product_intro{
        float: left;
        margin-left: 30px;
        margin-top: 46px;
    }
    .background-christ-1{
        float: left;
    }
    .background-christ-2{
        float: right;
        margin-left: 60px;
    }

    /* Navbar in Product page*/
.navbar_product{
    border-bottom-style: groove;
    float: left;
    margin-left: 0px;
    padding-left: 350px;
    width: 100%;
    border: solid;
    background-color: #608DE2;
}
    .nav-item{
        border: pink solid;
        display: inline-block;
        
    }
    .nav-item :hover{
        color: violet;
    }
    .nav-link{
        border: solid;
        font-size: large;
    }
    #category{
        margin-right: 200px;
        background-color: white;
    }
    #sex{
        margin-right: 170px;
        background-color: white;
    }
    #age{
        margin-right: 170px;
        background-color: white;
    }

/*product list*/
.new-arrival{
    border: solid;
    height: 100px;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
     margin-top: 450px;
     font-size: xx-large;
     font-weight: 700;
     padding-top:16px ;
}
.new-arrival-product{
    margin-top: 10px;
    border: solid orange;
    margin-right: 50px;
    box-sizing: border-box;
    margin-left: 50px;
}

.img-manual{
    border: solid red;
    display: inline-block;
}
.card{
    margin-top:45px;
    margin-left: 8px;
    margin-right: 8px;
    border: solid yellowgreen;
}
.card-body{
    height: 50px;
    border: palevioletred solid;
}
.card-title{
    text-align: center;
}
.img-fluid{
    border: solid;
    width: 70%;
    padding: 10px;
    margin-left: 55px;
}