/*Front*/
.Front{
background-color: #125986;
    height: 140px;
}
.Front img{
    height: 130px;
    margin-left: 60px;
    float: left;
}
.menu
{
    width: 580px;
    float: left;
    margin-left: 120px;
    margin-top: 35px;

}
    .menu a{
        text-decoration: none;
        color: white;
        font-size: large;
        font-weight: 500;
        text-align: center;
    }
    .menu a:hover{
        text-decoration:solid whitesmoke;
    }
    .menu_home{
        padding-left: 20px;
    }
    .menu_product{
        padding-left: 70px;
    }
    .menu_about{
        padding-left: 70px;
    }
    .menu_contact{
        padding-left: 70px;
    }
.Front form{
    float: right;
    margin-left: 50px;
    margin-top: 7px;
    color: white;
}
  .form-control{
      width: 100px;
  }
/* FOOTER */

.footer {
    height: 150px;
    margin-top: 50px;
    background-color: #125986;
    overflow: hidden;
    width: 100vw;
    box-sizing: border-box;
    color: white;
}

.link li {
    display: inline-block;
    padding: 7px;
    font-size: larger;
}

.linkstore {
    margin-left: 200px;
}

.linkabout {
    margin-left: 280px;
}

.linkcontact {
    margin-left: 350px;
}

.out_contact {
    margin: -15px 640px 100px 690px;
    width:100%;
}

    .out_contact i {
        font-size: xx-large;
        padding: 10px;
        padding-right:20px;

    }

.link a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

    /* Carousel in productpage*/
    #img_01{
        width: 0px;
    }
    .carousel-inner{
        border: black solid;
        width: 1100px;
        height: 500px;
    }
    .carousel {
        margin-left: 180px;
        border: pink solid;
        width: 1000px;
    }
    /* Navbar in Product page*/
.navbar_product{
    border-bottom-style: groove;
    float: left;
    margin-left: 0px;
    padding-left: 350px;
    width: 100%;
    border: solid;
    background-color: #608DE2;
}
    .nav-item{
        border: pink solid;
        display: inline-block;
        
    }
    .nav-item :hover{
        color: violet;
    }
    .nav-link{
        border: solid;
        font-size: large;
    }
    #category{
        margin-right: 200px;
        background-color: white;
    }
    #sex{
        margin-right: 170px;
        background-color: white;
    }
    #age{
        margin-right: 170px;
        background-color: white;
    }

/*product list*/
.new-arrival{
    height: 100px;
    border: solid;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
     margin-top: 100px;
     font-size: xx-large;
     font-weight: 700;
     padding-top:16px ;
}
.new-arrival-product{
    margin-top: 10px;
    margin-right: 50px;
    box-sizing: border-box;
    margin-left: 50px;
}

.img-manual{
   
    display: inline-block;
    width: 300px;
    margin-left: 33px;
    border: steelblue solid;
}
.card{
    margin-top:45px;
    margin-left: 30px;
    margin-right: 30px;
   
}
.card-body{
    height: 50px;
   
}
.card-title{
    text-align: center;
}
.img-fluid
{
    padding: 10px;
    height: 350px;
    width: 300px;
    cursor: pointer;
}

/*Login form*/
.text_block{
    height: 580px;
}
.login_form {
    text-align: center;
    margin-top: 50px;
    padding: 16px;
    height: 500px;
}
.login_form legend{
color: orange;
font-size: xx-large;}

.login_table{
    margin-top: 20px;
    margin-left: 60px;
}

  
.login_field {
    margin-top: 70px;
    padding: 10px;
    margin-left: 490px;
    margin-right: 470px;
    background-color: white;
}


.form_text {
    font-size: small;
    padding: 10px;
    margin-left: 15px;
}

.login_button {
    font-size: large;
    width: 100px;
    background-color: darkorange;
    color: white;
    margin-top: 20px;
}

/* Register form*/
.text_block{
    height: 650px;
}
.register_form{
    padding: 16px;
    margin-top: 50px;
    height: 650px;
}
.register_field{
    margin-top: 70px;
    padding-left: 20px;
    margin-left: 480px;
    margin-right: 430px;
    background-color: linen;
    border-radius: 1cm;
    border: dashed darkslategrey;
}
    .register_field legend,a,p{
        text-align: center;
    }
    .fieldset_adjust{
        text-align: center;
        margin-left: -40px;
    }

.register_form table
{ 
    margin-left: 10px;
    height: 300px;
}
.reform_text{
    font-size: medium;
    margin-left: 30px;
    width: 180px;
    
}
.register_button{
    background-color: darkred;
    color: whitesmoke;
    font-size: large;
    width: 100px;
}

/* Contact Us */
.head_contact {
    text-align: center;
    font-size: x-large;
    border-bottom-style: double;
    margin-top: 30px;
}

    .head_contact span {
        font-size: xx-large;
        font-weight: 600;
        color: lightcoral;
    }

.contact-type {
    border: groove;
    margin-left: 490px;
    margin-right: 460px;
    margin-top: 20px;
}

    .contact-type table {
        margin: auto;
        padding: 16px;
        margin-top: 30px;
    }

.under {
    padding: 10px;
    text-decoration: underline;
    font-size: large;
}

.under_text {
    font-size: large;
}

.address {
    padding-left: 10px;
    font-size: large;
}

.iconc {
    margin-left: 80px;
}

    .iconc i {
        padding: 16px;
        font-size: xx-large;
    }

.lastword {
    text-align: center;
    margin-top: 100px;
    color: #CD6155;
    font-size: xx-large;
}

/*About us*/
.head_about {
  
    text-align: center;
    padding: 16px;
    margin-left: 50px;
}

.about {
    font-size: xx-large;
   
    padding: 16px;
    font-weight: 600;
    border-bottom: double;
    margin-top: 70px;
}

.about_store {
    border: solid;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px
}

/* Stores */
.head_stores {
    border: solid;
    text-align: center;
}

.stores {
    font-size: larger;
    border: dotted;
    width: 400px;
    margin: auto;
}

    .stores span {
        color: green;
        font-size: xx-large;
    }

.intro_store {
    font-size: large;
}

    .intro_store span {
        color: lightpink;
        font-weight: 600;
        font-size: x-large;
    }

.list_store table {
    margin: auto;
    padding: 16px;
}

.store {
    padding: 16px;
    text-decoration: underline;
    margin-right: 100px;
}

.address {
    padding-left: 10px;
    font-size: medium;
}

.map {
    margin-top: 30px;
}

    .map img {
        width: 800px;
        height: auto;
        border: groove;
        margin-left: 350px;
    }

    /* Detail */
.frame{
    border: solid darkorchid;
    height: 400px;
    margin-top: -100px;
}
.detail_contents{
    float: right;
    margin-top: 80px;
    margin-right: 60px;
   

}
    #product_image{
        border: solid;
        float: left;
        margin-left: 110px;
        height: 400px;
    }
    #product_name {
        font-size: xx-large;
        font-weight: 300;
        display: inline-block;
        color: #D98880;
    }
    
    .ratingstar {
        display: inline-block;
        font-size: x-large;
        padding: 10px;
        margin-left: 20px;
    }
    
    #product_price {
        font-size: x-large;
        margin-top: 10px;
    }
    
    .product_color {
        font-size: medium;
        padding-top: 10px;
    }
    
    .checkcolor {
        cursor: pointer;
        margin-left: 15px;
        padding-bottom: 10px;
    }
    
    .size_product {
        font-size: medium;
    }
    
    .choose_size {
        cursor: pointer;
        margin-left: 15px;
    }
    
        .choose_size select {
            font-size: medium;
            padding: 5px;
            width: 70px;
        }
    
    .product_quantity {
        font-size: medium;
        padding-top: 10px;
    }
    
    .choose_quantity {
        cursor: pointer;
        margin-left: 15px;
        margin-top: 7px;
    }
    
        .choose_quantity select {
            font-size: medium;
            padding: 5px;
            width: 40px;
        }
    
    .cart {
        font-size: large;
        border: 1px solid;
        width: 400px;
        padding: 10px;
        background-color: black;
        color: white;
        cursor: pointer;
        margin-top: 30px;
    }
    
        .cart:hover {
            background-color: darkslategrey;
        }
    
    .aboutproduct {
        margin: 20px;
        padding: 10px; 
        width: 300px;
        height: 50px;
      }
    
    .description {
        font-size: x-large;
        font-weight: 600;
        border-bottom-style: solid;
        width: 150px;
       
    }
    #description {border:solid;}
    
    
    .review {
        margin: 30px;
        padding: 10px;
    }
    
    .review_head {
        font-size: x-large;
        font-weight: 600;
        border-bottom-style: solid;
        width: 70px;
    }
    
    .review textarea {
        width: 500px;
        height: 100px;
        margin-top: 20px;
        font-size: medium;
    }
    
    .recommend {
        margin: 30px;
        padding: 10px;
    }
    
        .recommend p {
            font-size: xx-large;
            font-weight: 600;
            text-align: center;
            border-bottom: solid;
        }
    
    .recommend_pic {
        float: left;
        width: 20%;
        height: 20%;
        padding: 5PX;
        margin: 0px 20px 10px 50px;
        border: solid;
    }
    
        .recommend_pic img {
            width: 100%;
            height: auto;
            border: solid red;
            margin-top: 0px;
        }
    
    .he {
        border: solid pink;
        height: 130px;
        margin-bottom: 0px;
    }
    
    .fo {
        border: solid green;
    }
    
    .for a {
        border: solid blue;
        text-align: center;
        max-width: 1000px;
        height: 200px;
        padding: 20px;
    }